@use 'sass:color';

// Theme colors
$primaryColor: #172b4d;

$whiteColor: #fff;
$sectionBackgroundColor: #f2f2f2;
$textColor: #19191b;
$borderColor: #d6d6d6;

$variants: (
	'default': $primaryColor,
	'primary': #5e72e4,
	'secondary': #f4f5f7,
	'danger': #f5365c,
	'warning': #fb6340,
	'success': #2dce89,
	'info': #11cdef,
);

// Appearance
$fontFamily: 'Lato', 'Trebuchet MS' !default;
$fontSize: 14px !default;
$lineHeight: 16px !default;
$borderRadius: 0.45rem;

// Breakpoints
$smallBreakpoint: 640px;
$mediumBreakpoint: 968px;

$breakpoints: (
	'xs': 450,
	'sm': 640,
	'md': 968,
	'lg': 1180,
	'xl': 1350,
);
