@use 'sass:color';
@use 'sass:map';

@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_animations.scss';
@import '../../assets/scss/_states.scss';

$sizes: (
	'sm': (
		'font-size': 11px,
		'line-height': 13px,
		'padding': 0.5rem 0.8rem,
	),
	'md': (
		'font-size': 13.5px,
		'line-height': 16px,
		'padding': 0.7rem 1rem,
	),
	'lg': (
		'font-size': 18px,
		'line-height': 22px,
		'padding': 0.9rem 1.2rem,
	),
);

.mr-button {
	@include clickable;
	@include canBeDisabled();

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: 600;
	line-height: $lineHeight;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: $borderRadius;
	outline: none;
	transition: background-color 200ms ease-out, transform 100ms linear;
	will-change: transform;

	@each $sizeName, $sizeValues in $sizes {
		&.size-#{$sizeName} {
			padding: map.get($sizeValues, 'padding');
			font-size: map.get($sizeValues, 'font-size');
			line-height: map.get($sizeValues, 'line-height');
		}
	}

	&.solid-theme {
		color: color.invert(map.get($variants, 'default'), $weight: 100%);
		background-color: map.get($variants, 'default');
		border-color: map.get($variants, 'default');
		box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);

		@each $variantName, $variantColor in $variants {
			&.variant-#{$variantName} {
				@if color.lightness($variantColor) < 80 {
					color: $whiteColor;

					.mr-spinner .mr-spinner-item {
						background-color: $whiteColor;
					}
				}

				@else {
					color: $textColor;

					.mr-spinner .mr-spinner-item {
						background-color: $textColor;
					}
				}

				background-color: $variantColor;
				border-color: $variantColor;

				&:active,
				&:focus-visible {
					background-color: darken($variantColor, 7%);
					border-color: darken($variantColor, 7%);
				}
			}
		}
	}

	&.outlined-theme {
		color: map.get($variants, 'default');
		background-color: transparent;
		border-color: map.get($variants, 'default');

		&:not(:disabled):hover {
			color: color.invert(map.get($variants, 'default'), $weight: 100%);
			background-color: map.get($variants, 'default');
			box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
		}

		@each $variantName, $variantColor in $variants {
			&.variant-#{$variantName} {
				border-color: $variantColor;

				@if color.lightness($variantColor) < 80 {
					color: $variantColor;

					.mr-spinner .mr-spinner-item {
						background-color: $variantColor;
					}
				}

				@else {
					color: $textColor;

					.mr-spinner .mr-spinner-item {
						background-color: $textColor;
					}
				}

				&:not(:disabled):hover {
					@if color.lightness($variantColor) < 80 {
						color: $whiteColor;

						.mr-spinner .mr-spinner-item {
							background-color: $whiteColor;
						}
					}

					@else {
						color: $textColor;

						.mr-spinner .mr-spinner-item {
							background-color: $textColor;
						}
					}

					background-color: $variantColor;
					box-shadow: 0 4px 6px fade-out($variantColor, 0.75), 0 1px 3px fade-out($variantColor, 0.6);
				}

				&:active,
				&:focus-visible {
					background-color: darken($variantColor, 7%);
					border-color: darken($variantColor, 5%);
				}
			}
		}
	}

	&.text-theme {
		position: relative;
		padding: 0;
		color: map.get($variants, 'default');
		background-color: transparent;
		border-radius: 0;

		&::after {
			position: absolute;
			bottom: -5px;
			left: 50%;
			width: 0;
			height: 2px;
			content: ' ';
			background-color: transparent;
			transition: width 200ms ease-in-out, background-color 300ms ease-in-out;
			transform: translateX(-50%);
		}

		@each $variantName, $variantColor in $variants {
			&.variant-#{$variantName} {
				@if color.lightness($variantColor) < 80 {
					color: $variantColor;

					.mr-spinner .mr-spinner-item {
						background-color: $variantColor;
					}
				}

				@else {
					color: $textColor;

					.mr-spinner .mr-spinner-item {
						background-color: $textColor;
					}
				}

				&:not(:disabled):hover::after,
				&:focus::after {
					width: 75%;
					background-color: $variantColor;
				}
			}
		}
	}

	&.text-solid-theme {
		color: map.get($variants, 'default');
		background-color: transparent;

		@each $variantName, $variantColor in $variants {
			&.variant-#{$variantName} {
				background-color: fade-out($variantColor, 0.9);

				@if color.lightness($variantColor) < 80 {
					color: $variantColor;

					.mr-spinner .mr-spinner-item {
						background-color: $variantColor;
					}
				}

				@else {
					color: $textColor;

					.mr-spinner .mr-spinner-item {
						background-color: $textColor;
					}
				}

				&:active,
				&:focus-visible {
					background-color: fade-out($variantColor, 0.8);
					border-color: fade-out($variantColor, 0.95);
				}
			}
		}
	}

	.mr-icon {
		&.icon-position-start:not(.only-icon) {
			margin-right: 8px;
		}

		&.icon-position-end:not(.only-icon) {
			margin-left: 8px;
		}
	}

	img {
		width: 24px;
		height: 24px;
		zoom: 0.7;
	}

	.mr-spinner {
		position: absolute;
		width: 18px;
		height: 18px;
		margin: 0;
	}

	&.is-loading {
		color: transparent !important;
	}
}
