@use 'sass:color';
@use 'sass:map';

@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_animations.scss';

.mr-table-container {
	font-family: $fontFamily;
	font-size: $fontSize;

	.mr-table-header {
		display: flex;
		justify-content: space-between;
	}

	.mr-table-options {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		padding: 0.5rem 0;

		.column-visibility-panel-toggle {
			margin-left: 4px;
			font-size: 18px;
		}

		button.column-visibility-panel-toggle {
			padding: 0.7rem;
			font-size: 19px;
		}
	}

	.mr-table-filters {
		position: relative;
		display: flex;
		flex-wrap: wrap;

		& > * {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
		}

		.mr-dropdown {
			padding: 0.5rem;

			.mr-select-container {
				width: 100%;
			}

			.mr-table-filter-operator {
				margin-bottom: 0.3rem;
			}

			.mr-table-filter-value {
				margin-bottom: 0.6rem;
			}

			.mr-table-filter-label {
				padding: 0 0 4px 4px;
				font-size: 11px;
				font-weight: 600;

				&:not(:first-child) {
					margin-top: 0.5rem;
				}
			}
		}
	}

	.mr-table-footer {
		padding: 1rem 1.4rem;
	}
}

.mr-table {
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow-y: hidden;
	background: $whiteColor;
	border: none;

	thead {
		background: $sectionBackgroundColor;
		border-radius: $borderRadius;

		tr th {
			align-items: center;
			font-size: calc(#{$fontSize} - 1px);
			color: lighten($textColor, 40%);

			&.sortable {
				cursor: pointer;
			}

			&.sort-active {
				color: $primaryColor;

				.mr-icon {
					padding-top: 2px;
					padding-left: 4px;
				}
			}
		}
	}

	&:not(.is-loading) tbody {
		&::-webkit-scrollbar {
			width: 4px;
			border-radius: $borderRadius;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $sectionBackgroundColor;
			border-radius: $borderRadius;

			&:hover {
				background-color: darken($sectionBackgroundColor, 15%);
			}
		}

		tr {
			margin-top: 3px;
			margin-bottom: 3px;
			background: none;
			transition: background-color 150ms linear;

			&.active,
			&:hover {
				background-color: lighten($sectionBackgroundColor, 2%);
				border-radius: $borderRadius;
			}
		}
	}

	&.is-loading tbody {
		.loading-cell {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: none;
			padding: 1rem;
		}
	}

	thead tr,
	tbody tr {
		display: flex;
		border: none;

		th,
		td {
			display: flex;
			flex: 1;
			padding: 0.8rem 0 0.8rem 1.5rem;
			line-height: 25px;
			border: 0 solid fade-out(darken($sectionBackgroundColor, 5%), 0.1);

			&.row-selection-cell {
				max-width: 30px;
			}
		}
	}

	@media screen and (max-width: $mediumBreakpoint) {
		border: 0;

		thead {
			display: none;
		}

		&:not(.is-loading) tbody tr {
			flex-direction: column;
			margin: 0;
			margin-bottom: 1rem;
			background-color: $sectionBackgroundColor;
			border: none;
			border-radius: $borderRadius;

			&:hover {
				background-color: $sectionBackgroundColor;
			}

			&.active {
				background-color: darken($sectionBackgroundColor, 5%);
			}

			td {
				flex-direction: column;
				padding: 0.5rem 1rem;

				&:not(:last-child) {
					border-bottom-width: 1px;
				}

				&::before {
					display: flex;
					align-items: center;
					padding: 0.5em;
					margin: -0.5em -0.5em 0;
					font-size: 11px;
					font-weight: bold;
					color: $textColor;
					text-transform: uppercase;
					letter-spacing: 0.35px;
					content: attr(data-label) ':';
				}
			}
		}

		thead tr th:first-child,
		tbody tr td:first-child {
			max-width: none;
		}
	}

	@include pop-out;
}

.mr-table-row-selection-panel {

	$background: darken(map.get($variants, 'primary'), 10%);

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	padding: 0 1.5rem;
	background-color: $background;
	box-shadow: 0 -3px 12px 3px rgb(0 0 0 / 15%);

	@if color.lightness($background) < 80 {
		color: #fff;
	}

	@else {
		color: $textColor;
	}

	.row-selection-count {
		display: flex;
		align-items: center;

		strong {
			margin-right: 4px;
		}

		button {
			margin-left: 16px;
		}
	}

	.mr-button.variant-primary {
		background-color: darken(map.get($variants, 'primary'), 7%);
		border-color: darken(map.get($variants, 'primary'), 7%);

		&:active,
		&:focus-visible {
			background-color: darken(map.get($variants, 'primary'), 8%);
			border-color: darken(map.get($variants, 'primary'), 8%);
		}
	}

	.mr-table-row-selection-actions {
		display: flex;

		button {
			margin-left: 8px;
		}
	}
}
