@use 'sass:color';
@use 'sass:map';

@import '../../assets/scss/_variables.scss';

.mr-message {
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 0.8rem 1rem 0.8rem 0.8rem;
	font-family: $fontFamily;
	font-size: $fontSize;
	line-height: $lineHeight;
	background-color: $sectionBackgroundColor;
	border-left: 6px solid transparent;
	border-radius: $borderRadius;

	&.shrink {
		width: max-content;
	}

	& > .mr-icon {
		padding-top: 1px;
		margin-right: 16px;
		margin-left: 4px;
		font-weight: 600;
	}

	.mr-message-title {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		min-height: 21px;
		padding-right: 1rem;
		font-weight: 600;
	}

	.mr-message-body {
		display: block;
		padding-top: 4px;
		font-size: 11.5px;
		font-weight: 400;
	}

	@each $variantName, $variantColor in $variants {
		&.variant-#{$variantName} {
			color: $variantColor;
			background-color: fade-out($variantColor, 0.9);
			border-left-color: $variantColor;
		}
	}

	.mr-button.size-sm {
		width: 21px;
		height: 21px;
		padding: 0;
		border-radius: 50%;
	}
}
